---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$page-padding: 20px;
$primary-bg-color: #917FFF;
$accent-color: #64FFDA;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  background-color: #eee;
  font-weight: 300;
  padding-top: 0;
  margin: 0;
}

header {
  position: relative;
  height: 56px;
  padding-top: 13px;
  background-color: $primary-bg-color;
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

header > * {
  text-align: center;
  position: absolute;
}

header > #logo {
  font-weight: 300;
  left: $page-padding;
}

header > #links {
  right: $page-padding;
}

header > #links > a {
  transition: all 0.05s linear;
  margin-left: 25px;
  border-bottom: 0px solid #ddd;
  display: inline-block;
  height: 43px;
  color: white;
}

header > #links > a:hover {
  transition: all 0.05s linear;
  border-bottom: 5px solid $accent-color;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

.page-content {
  padding: 10px $page-padding;
}

.perf-test-summary-card {
  background-color: #fff;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 20px;
  box-shadow:
    0 1px 3px rgba(0,0,0, 0.12),
    0 1px 2px rgba(0,0,0, 0.24);
}

.perf-test-summary-card > h2 {
  margin-top: 0px;
}

.perf-details {
  color: #999;
  font-size: 70%;
  margin-left: 30px;
}

.metric-section {
  margin-top: 10px;
}

span.metric-section + span.metric-section {
  padding-left: 30px;
}

.metric {
  font-weight: 300;
}

.warning {
  color: red;
}

.congrats {
  color: green;
}

.frames {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 30px;
  width: 100%;
  border: 1px solid #81C784;
}

@mixin budget {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px dashed #81C784;
  text-align: right;
  font-size: 70%;
  padding-right: 5px;
  padding-top: 2px;
}

.frame-budget-indicator {
  @include budget;
  background-color: #E8F5E9;
  z-index: 1;
}

.frame-60FPS-indicator {
  @include budget;
  background-color: #F9FBE7;
  z-index: 0;
}

@mixin frame($color) {
  width: 5px;
  z-index: 2;
  background-color: $color;
}

.good-frame {
  @include frame(green);
}

.bad-frame {
  @include frame(#FF2222);
}

.terrible-frame {
  @include frame(#CC2222);
}
